In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../../datasets/gapminder.csv')

In [4]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [6]:
df.to_string()

"                       country  year  population continent  life_exp        gdp_cap\n0                  Afghanistan  1952     8425333      Asia  28.80100     779.445314\n1                  Afghanistan  1957     9240934      Asia  30.33200     820.853030\n2                  Afghanistan  1962    10267083      Asia  31.99700     853.100710\n3                  Afghanistan  1967    11537966      Asia  34.02000     836.197138\n4                  Afghanistan  1972    13079460      Asia  36.08800     739.981106\n5                  Afghanistan  1977    14880372      Asia  38.43800     786.113360\n6                  Afghanistan  1982    12881816      Asia  39.85400     978.011439\n7                  Afghanistan  1987    13867957      Asia  40.82200     852.395945\n8                  Afghanistan  1992    16317921      Asia  41.67400     649.341395\n9                  Afghanistan  1997    22227415      Asia  41.76300     635.341351\n10                 Afghanistan  2002    25268405      Asia  42.12900     726.734055\n11                 Afghanistan  2007    31889923      Asia  43.82800     974.580338\n12                     Albania  1952     1282697    Europe  55.23000    1601.056136\n13                     Albania  1957     1476505    Europe  59.28000    1942.284244\n14                     Albania  1962     1728137    Europe  64.82000    2312.888958\n15                     Albania  1967     1984060    Europe  66.22000    2760.196931\n16                     Albania  1972     2263554    Europe  67.69000    3313.422188\n17                     Albania  1977     2509048    Europe  68.93000    3533.003910\n18                     Albania  1982     2780097    Europe  70.42000    3630.880722\n19                     Albania  1987     3075321    Europe  72.00000    3738.932735\n20                     Albania  1992     3326498    Europe  71.58100    2497.437901\n21                     Albania  1997     3428038    Europe  72.95000    3193.054604\n22                     Albania  2002     3508512    Europe  75.65100    4604.211737\n23                     Albania  2007     3600523    Europe  76.42300    5937.029526\n24                     Algeria  1952     9279525    Africa  43.07700    2449.008185\n25                     Algeria  1957    10270856    Africa  45.68500    3013.976023\n26                     Algeria  1962    11000948    Africa  48.30300    2550.816880\n27                     Algeria  1967    12760499    Africa  51.40700    3246.991771\n28                     Algeria  1972    14760787    Africa  54.51800    4182.663766\n29                     Algeria  1977    17152804    Africa  58.01400    4910.416756\n30                     Algeria  1982    20033753    Africa  61.36800    5745.160213\n31                     Algeria  1987    23254956    Africa  65.79900    5681.358539\n32                     Algeria  1992    26298373    Africa  67.74400    5023.216647\n33                     Algeria  1997    29072015    Africa  69.15200    4797.295051\n34                     Algeria  2002    31287142    Africa  70.99400    5288.040382\n35                     Algeria  2007    33333216    Africa  72.30100    6223.367465\n36                      Angola  1952     4232095    Africa  30.01500    3520.610273\n37                      Angola  1957     4561361    Africa  31.99900    3827.940465\n38                      Angola  1962     4826015    Africa  34.00000    4269.276742\n39                      Angola  1967     5247469    Africa  35.98500    5522.776375\n40                      Angola  1972     5894858    Africa  37.92800    5473.288005\n41                      Angola  1977     6162675    Africa  39.48300    3008.647355\n42                      Angola  1982     7016384    Africa  39.94200    2756.953672\n43                      Angola  1987     7874230    Africa  39.90600    2430.208311\n44                      Angola  1992     8735988    Africa  40.64700    2627.845685\n45                      Angola  1997     9875024    Africa  40.96300    2277.140884\n46                      Angola  2002    10866106    Africa  41.00300    2773.287312\n47                      Angola  2007    12420476    Africa  42.73100    4797.231267\n48                   Argentina  1952    17876956  Americas  62.48500    5911.315053\n49                   Argentina  1957    19610538  Americas  64.39900    6856.856212\n50                   Argentina  1962    21283783  Americas  65.14200    7133.166023\n51                   Argentina  1967    22934225  Americas  65.63400    8052.953021\n52                   Argentina  1972    24779799  Americas  67.06500    9443.038526\n53                   Argentina  1977    26983828  Americas  68.48100   10079.026740\n54                   Argentina  1982    29341374  Americas  69.94200    8997.897412\n55                   Argentina  1987    31620918  Americas  70.77400    9139.671389\n56                   Argentina  1992    33958947  Americas  71.86800    9308.418710\n57                   Argentina  1997    36203463  Americas  73.27500   10967.281950\n58                   Argentina  2002    38331121  Americas  74.34000    8797.640716\n59                   Argentina  2007    40301927  Americas  75.32000   12779.379640\n60                   Australia  1952     8691212   Oceania  69.12000   10039.595640\n61                   Australia  1957     9712569   Oceania  70.33000   10949.649590\n62                   Australia  1962    10794968   Oceania  70.93000   12217.226860\n63                   Australia  1967    11872264   Oceania  71.10000   14526.124650\n64                   Australia  1972    13177000   Oceania  71.93000   16788.629480\n65                   Australia  1977    14074100   Oceania  73.49000   18334.197510\n66                   Australia  1982    15184200   Oceania  74.74000   19477.009280\n67                   Australia  1987    16257249   Oceania  76.32000   21888.889030\n68                   Australia  1992    17481977   Oceania  77.56000   23424.766830\n69                   Australia  1997    18565243   Oceania  78.83000   26997.936570\n70                   Australia  2002    19546792   Oceania  80.37000   30687.754730\n71                   Australia  2007    20434176   Oceania  81.23500   34435.367440\n72                     Austria  1952     6927772    Europe  66.80000    6137.076492\n73                     Austria  1957     6965860    Europe  67.48000    8842.598030\n74                     Austria  1962     7129864    Europe  69.54000   10750.721110\n75                     Austria  1967     7376998    Europe  70.14000   12834.602400\n76                     Austria  1972     7544201    Europe  70.63000   16661.625600\n77                     Austria  1977     7568430    Europe  72.17000   19749.422300\n78                     Austria  1982     7574613    Europe  73.18000   21597.083620\n79                     Austria  1987     7578903    Europe  74.94000   23687.826070\n80                     Austria  1992     7914969    Europe  76.04000   27042.018680\n81                     Austria  1997     8069876    Europe  77.51000   29095.920660\n82                     Austria  2002     8148312    Europe  78.98000   32417.607690\n83                     Austria  2007     8199783    Europe  79.82900   36126.492700\n84                     Bahrain  1952      120447      Asia  50.93900    9867.084765\n85                     Bahrain  1957      138655      Asia  53.83200   11635.799450\n86                     Bahrain  1962      171863      Asia  56.92300   12753.275140\n87                     Bahrain  1967      202182      Asia  59.92300   14804.672700\n88                     Bahrain  1972      230800      Asia  63.30000   18268.658390\n89                     Bahrain  1977      297410      Asia  65.59300   19340.101960\n90                     Bahrain  1982      377967      Asia  69.05200   19211.147310\n91                     Bahrain  1987      454612      Asia  70.75000   18524.024060\n92                     Bahrain  1992      529491      Asia  72.60100   19035.579170\n93                     Bahrain  1997      598561      Asia  73.92500   20292.016790\n94                     Bahrain  2002      656397      Asia  74.79500   23403.559270\n95                     Bahrain  2007      708573      Asia  75.63500   29796.048340\n96                  Bangladesh  1952    46886859      Asia  37.48400     684.244172\n97                  Bangladesh  1957    51365468      Asia  39.34800     661.637458\n98                  Bangladesh  1962    56839289      Asia  41.21600     686.341554\n99                  Bangladesh  1967    62821884      Asia  43.45300     721.186086\n100                 Bangladesh  1972    70759295      Asia  45.25200     630.233627\n101                 Bangladesh  1977    80428306      Asia  46.92300     659.877232\n102                 Bangladesh  1982    93074406      Asia  50.00900     676.981866\n103                 Bangladesh  1987   103764241      Asia  52.81900     751.979403\n104                 Bangladesh  1992   113704579      Asia  56.01800     837.810164\n105                 Bangladesh  1997   123315288      Asia  59.41200     972.770035\n106                 Bangladesh  2002   135656790      Asia  62.01300    1136.390430\n107                 Bangladesh  2007   150448339      Asia  64.06200    1391.253792\n108                    Belgium  1952     8730405    Europe  68.00000    8343.105127\n109                    Belgium  1957     8989111    Europe  69.24000    9714.960623\n110                    Belgium  1962     9218400    Europe  70.25000   10991.206760\n111                    Belgium  1967     9556500    Europe  70.94000   13149.041190\n112                    Belgium  1972     9709100    Europe  71.44000   16672.143560\n113                    Belgium  1977     9821800    Europe  72.80000   19117.974480\n114                    Belgium  1982     9856303    Europe  73.93000   20979.845890\n115                    Belgium  1987     9870200    Europe  75.35000   22525.563080\n116                    Belgium  1992    10045622    Europe  76.46000   25575.570690\n117                    Belgium  1997    10199787    Europe  77.53000   27561.196630\n118                    Belgium  2002    10311970    Europe  78.32000   30485.883750\n119                    Belgium  2007    10392226    Europe  79.44100   33692.605080\n120                      Benin  1952     1738315    Africa  38.22300    1062.752200\n121                      Benin  1957     1925173    Africa  40.35800     959.601080\n122                      Benin  1962     2151895    Africa  42.61800     949.499064\n123                      Benin  1967     2427334    Africa  44.88500    1035.831411\n124                      Benin  1972     2761407    Africa  47.01400    1085.796879\n125                      Benin  1977     3168267    Africa  49.19000    1029.161251\n126                      Benin  1982     3641603    Africa  50.90400    1277.897616\n127                      Benin  1987     4243788    Africa  52.33700    1225.856010\n128                      Benin  1992     4981671    Africa  53.91900    1191.207681\n129                      Benin  1997     6066080    Africa  54.77700    1232.975292\n130                      Benin  2002     7026113    Africa  54.40600    1372.877931\n131                      Benin  2007     8078314    Africa  56.72800    1441.284873\n132                    Bolivia  1952     2883315  Americas  40.41400    2677.326347\n133                    Bolivia  1957     3211738  Americas  41.89000    2127.686326\n134                    Bolivia  1962     3593918  Americas  43.42800    2180.972546\n135                    Bolivia  1967     4040665  Americas  45.03200    2586.886053\n136                    Bolivia  1972     4565872  Americas  46.71400    2980.331339\n137                    Bolivia  1977     5079716  Americas  50.02300    3548.097832\n138                    Bolivia  1982     5642224  Americas  53.85900    3156.510452\n139                    Bolivia  1987     6156369  Americas  57.25100    2753.691490\n140                    Bolivia  1992     6893451  Americas  59.95700    2961.699694\n141                    Bolivia  1997     7693188  Americas  62.05000    3326.143191\n142                    Bolivia  2002     8445134  Americas  63.88300    3413.262690\n143                    Bolivia  2007     9119152  Americas  65.55400    3822.137084\n144     Bosnia and Herzegovina  1952     2791000    Europe  53.82000     973.533195\n145     Bosnia and Herzegovina  1957     3076000    Europe  58.45000    1353.989176\n146     Bosnia and Herzegovina  1962     3349000    Europe  61.93000    1709.683679\n147     Bosnia and Herzegovina  1967     3585000    Europe  64.79000    2172.352423\n148     Bosnia and Herzegovina  1972     3819000    Europe  67.45000    2860.169750\n149     Bosnia and Herzegovina  1977     4086000    Europe  69.86000    3528.481305\n150     Bosnia and Herzegovina  1982     4172693    Europe  70.69000    4126.613157\n151     Bosnia and Herzegovina  1987     4338977    Europe  71.14000    4314.114757\n152     Bosnia and Herzegovina  1992     4256013    Europe  72.17800    2546.781445\n153     Bosnia and Herzegovina  1997     3607000    Europe  73.24400    4766.355904\n154     Bosnia and Herzegovina  2002     4165416    Europe  74.09000    6018.975239\n155     Bosnia and Herzegovina  2007     4552198    Europe  74.85200    7446.298803\n156                   Botswana  1952      442308    Africa  47.62200     851.241141\n157                   Botswana  1957      474639    Africa  49.61800     918.232535\n158                   Botswana  1962      512764    Africa  51.52000     983.653976\n159                   Botswana  1967      553541    Africa  53.29800    1214.709294\n160                   Botswana  1972      619351    Africa  56.02400    2263.611114\n161                   Botswana  1977      781472    Africa  59.31900    3214.857818\n162                   Botswana  1982      970347    Africa  61.48400    4551.142150\n163                   Botswana  1987     1151184    Africa  63.62200    6205.883850\n164                   Botswana  1992     1342614    Africa  62.74500    7954.111645\n165                   Botswana  1997     1536536    Africa  52.55600    8647.142313\n166                   Botswana  2002     1630347    Africa  46.63400   11003.605080\n167                   Botswana  2007     1639131    Africa  50.72800   12569.851770\n168                     Brazil  1952    56602560  Americas  50.91700    2108.944355\n169                     Brazil  1957    65551171  Americas  53.28500    2487.365989\n170                     Brazil  1962    76039390  Americas  55.66500    3336.585802\n171                     Brazil  1967    88049823  Americas  57.63200    3429.864357\n172                     Brazil  1972   100840058  Americas  59.50400    4985.711467\n173                     Brazil  1977   114313951  Americas  61.48900    6660.118654\n174                     Brazil  1982   128962939  Americas  63.33600    7030.835878\n175                     Brazil  1987   142938076  Americas  65.20500    7807.095818\n176                     Brazil  1992   155975974  Americas  67.05700    6950.283021\n177                     Brazil  1997   168546719  Americas  69.38800    7957.980824\n178                     Brazil  2002   179914212  Americas  71.00600    8131.212843\n179                     Brazil  2007   190010647  Americas  72.39000    9065.800825\n180                   Bulgaria  1952     7274900    Europe  59.60000    2444.286648\n181                   Bulgaria  1957     7651254    Europe  66.61000    3008.670727\n182                   Bulgaria  1962     8012946    Europe  69.51000    4254.337839\n183                   Bulgaria  1967     8310226    Europe  70.42000    5577.002800\n184                   Bulgaria  1972     8576200    Europe  70.90000    6597.494398\n185                   Bulgaria  1977     8797022    Europe  70.81000    7612.240438\n186                   Bulgaria  1982     8892098    Europe  71.08000    8224.191647\n187                   Bulgaria  1987     8971958    Europe  71.34000    8239.854824\n188                   Bulgaria  1992     8658506    Europe  71.19000    6302.623438\n189                   Bulgaria  1997     8066057    Europe  70.32000    5970.388760\n190                   Bulgaria  2002     7661799    Europe  72.14000    7696.777725\n191                   Bulgaria  2007     7322858    Europe  73.00500   10680.792820\n192               Burkina Faso  1952     4469979    Africa  31.97500     543.255241\n193               Burkina Faso  1957     4713416    Africa  34.90600     617.183465\n194               Burkina Faso  1962     4919632    Africa  37.81400     722.512021\n195               Burkina Faso  1967     5127935    Africa  40.69700     794.826560\n196               Burkina Faso  1972     5433886    Africa  43.59100     854.735976\n197               Burkina Faso  1977     5889574    Africa  46.13700     743.387037\n198               Burkina Faso  1982     6634596    Africa  48.12200     807.198586\n199               Burkina Faso  1987     7586551    Africa  49.55700     912.063142\n200               Burkina Faso  1992     8878303    Africa  50.26000     931.752773\n201               Burkina Faso  1997    10352843    Africa  50.32400     946.294962\n202               Burkina Faso  2002    12251209    Africa  50.65000    1037.645221\n203               Burkina Faso  2007    14326203    Africa  52.29500    1217.032994\n204                    Burundi  1952     2445618    Africa  39.03100     339.296459\n205                    Burundi  1957     2667518    Africa  40.53300     379.564628\n206                    Burundi  1962     2961915    Africa  42.04500     355.203227\n207                    Burundi  1967     3330989    Africa  43.54800     412.977514\n208                    Burundi  1972     3529983    Africa  44.05700     464.099504\n209                    Burundi  1977     3834415    Africa  45.91000     556.103265\n210                    Burundi  1982     4580410    Africa  47.47100     559.603231\n211                    Burundi  1987     5126023    Africa  48.21100     621.818819\n212                    Burundi  1992     5809236    Africa  44.73600     631.699878\n213                    Burundi  1997     6121610    Africa  45.32600     463.115148\n214                    Burundi  2002     7021078    Africa  47.36000     446.403513\n215                    Burundi  2007     8390505    Africa  49.58000     430.070692\n216                   Cambodia  1952     4693836      Asia  39.41700     368.469286\n217                   Cambodia  1957     5322536      Asia  41.36600     434.038336\n218                   Cambodia  1962     6083619      Asia  43.41500     496.913648\n219                   Cambodia  1967     6960067      Asia  45.41500     523.432314\n220                   Cambodia  1972     7450606      Asia  40.31700     421.624026\n221                   Cambodia  1977     6978607      Asia  31.22000     524.972183\n222                   Cambodia  1982     7272485      Asia  50.95700     624.475478\n223                   Cambodia  1987     8371791      Asia  53.91400     683.895573\n224                   Cambodia  1992    10150094      Asia  55.80300     682.303175\n225                   Cambodia  1997    11782962      Asia  56.53400     734.285170\n226                   Cambodia  2002    12926707      Asia  56.75200     896.226015\n227                   Cambodia  2007    14131858      Asia  59.72300    1713.778686\n228                   Cameroon  1952     5009067    Africa  38.52300    1172.667655\n229                   Cameroon  1957     5359923    Africa  40.42800    1313.048099\n230                   Cameroon  1962     5793633    Africa  42.64300    1399.607441\n231                   Cameroon  1967     6335506    Africa  44.79900    1508.453148\n232                   Cameroon  1972     7021028    Africa  47.04900    1684.146528\n233                   Cameroon  1977     7959865    Africa  49.35500    1783.432873\n234                   Ca

In [7]:
df.country

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [10]:
df.head(5)

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106

In [11]:
df.tail()

       country  year  population continent  life_exp     gdp_cap
1699  Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700  Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701  Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702  Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703  Zimbabwe  2007    12311143    Africa    43.487  469.709298

In [13]:
df[['country', 'life_exp']]

          country  life_exp
0     Afghanistan    28.801
1     Afghanistan    30.332
2     Afghanistan    31.997
3     Afghanistan    34.020
4     Afghanistan    36.088
...           ...       ...
1699     Zimbabwe    62.351
1700     Zimbabwe    60.377
1701     Zimbabwe    46.809
1702     Zimbabwe    39.989
1703     Zimbabwe    43.487

[1704 rows x 2 columns]

In [16]:
df.shape

(1704, 6)

In [21]:
x = df.head(2)
x

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030

In [26]:
x.values.tolist()

[['Afghanistan', 1952, 8425333, 'Asia', 28.801, 779.4453145],
 ['Afghanistan', 1957, 9240934, 'Asia', 30.332, 820.8530296]]

In [28]:
df["year"].values.tolist()

[1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 1972,
 1977,
 1982,
 1987,
 1992,
 1997,
 2002,
 2007,
 1952,
 1957,
 1962,
 1967,
 ...]

In [29]:
df.keys()

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

In [30]:
df.columns

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

In [35]:
df[df['country'] == 'Afghanistan']

        country  year  population continent  life_exp     gdp_cap
0   Afghanistan  1952     8425333      Asia    28.801  779.445314
1   Afghanistan  1957     9240934      Asia    30.332  820.853030
2   Afghanistan  1962    10267083      Asia    31.997  853.100710
3   Afghanistan  1967    11537966      Asia    34.020  836.197138
4   Afghanistan  1972    13079460      Asia    36.088  739.981106
5   Afghanistan  1977    14880372      Asia    38.438  786.113360
6   Afghanistan  1982    12881816      Asia    39.854  978.011439
7   Afghanistan  1987    13867957      Asia    40.822  852.395945
8   Afghanistan  1992    16317921      Asia    41.674  649.341395
9   Afghanistan  1997    22227415      Asia    41.763  635.341351
10  Afghanistan  2002    25268405      Asia    42.129  726.734055
11  Afghanistan  2007    31889923      Asia    43.828  974.580338

In [38]:
df['country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Australia', 'Austria', 'Bahrain', 'Bangladesh', 'Belgium',
       'Benin', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Ethiopia',
       'Finland', 'France', 'Gabon', 'Gambia', 'Germany', 'Ghana',
       'Greece', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Haiti',
       'Honduras', 'Hong Kong, China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kenya', 'Korea, Dem. Rep.',
       'Korea, Rep.', 'Kuwait', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Mauritania',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Reunion', 'Romania', 'Rwanda',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovak Republic', 'Slovenia',
       'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Uganda', 'United Kingdom', 'United States', 'Uruguay',
       'Venezuela', 'Vietnam', 'West Bank and Gaza', 'Yemen, Rep.',
       'Zambia', 'Zimbabwe'], dtype=object)

In [39]:
df['country'].nunique()

142

In [45]:
des = df.describe()
des

             year    population     life_exp        gdp_cap
count  1704.00000  1.704000e+03  1704.000000    1704.000000
mean   1979.50000  2.960121e+07    59.474439    7215.327081
std      17.26533  1.061579e+08    12.917107    9857.454543
min    1952.00000  6.001100e+04    23.599000     241.165876
25%    1965.75000  2.793664e+06    48.198000    1202.060309
50%    1979.50000  7.023596e+06    60.712500    3531.846988
75%    1993.25000  1.958522e+07    70.845500    9325.462346
max    2007.00000  1.318683e+09    82.603000  113523.132900

In [47]:
des['year']

count    1704.00000
mean     1979.50000
std        17.26533
min      1952.00000
25%      1965.75000
50%      1979.50000
75%      1993.25000
max      2007.00000
Name: year, dtype: float64

In [50]:
df['country'].value_counts().head()

Afghanistan    12
Pakistan       12
New Zealand    12
Nicaragua      12
Niger          12
Name: country, dtype: int64

In [51]:
df.columns = ["Country", "Year", "Population", "Continent", "Life_exp", "Gdp_cap" ]

In [52]:
df

          Country  Year  Population Continent  Life_exp     Gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [55]:
df.columns

Index(['Country', 'Year', 'Population', 'Continent', 'Life_exp', 'Gdp_cap'], dtype='object')

In [58]:
df.rename?

In [61]:
df.drop?

In [64]:
df.drop('Year', axis=1)

          Country  Population Continent  Life_exp     Gdp_cap
0     Afghanistan     8425333      Asia    28.801  779.445314
1     Afghanistan     9240934      Asia    30.332  820.853030
2     Afghanistan    10267083      Asia    31.997  853.100710
3     Afghanistan    11537966      Asia    34.020  836.197138
4     Afghanistan    13079460      Asia    36.088  739.981106
...           ...         ...       ...       ...         ...
1699     Zimbabwe     9216418    Africa    62.351  706.157306
1700     Zimbabwe    10704340    Africa    60.377  693.420786
1701     Zimbabwe    11404948    Africa    46.809  792.449960
1702     Zimbabwe    11926563    Africa    39.989  672.038623
1703     Zimbabwe    12311143    Africa    43.487  469.709298

[1704 rows x 5 columns]

In [65]:
df

          Country  Year  Population Continent  Life_exp     Gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [10]:
df.iloc[:20]

        country  year  population continent  life_exp      gdp_cap
0   Afghanistan  1952     8425333      Asia    28.801   779.445314
1   Afghanistan  1957     9240934      Asia    30.332   820.853030
2   Afghanistan  1962    10267083      Asia    31.997   853.100710
3   Afghanistan  1967    11537966      Asia    34.020   836.197138
4   Afghanistan  1972    13079460      Asia    36.088   739.981106
5   Afghanistan  1977    14880372      Asia    38.438   786.113360
6   Afghanistan  1982    12881816      Asia    39.854   978.011439
7   Afghanistan  1987    13867957      Asia    40.822   852.395945
8   Afghanistan  1992    16317921      Asia    41.674   649.341395
9   Afghanistan  1997    22227415      Asia    41.763   635.341351
10  Afghanistan  2002    25268405      Asia    42.129   726.734055
11  Afghanistan  2007    31889923      Asia    43.828   974.580338
12      Albania  1952     1282697    Europe    55.230  1601.056136
13      Albania  1957     1476505    Europe    59.280  1942.284244
14      Albania  1962     1728137    Europe    64.820  2312.888958
15      Albania  1967     1984060    Europe    66.220  2760.196931
16      Albania  1972     2263554    Europe    67.690  3313.422188
17      Albania  1977     2509048    Europe    68.930  3533.003910
18      Albania  1982     2780097    Europe    70.420  3630.880722
19      Albania  1987     3075321    Europe    72.000  3738.932735

In [18]:
df1 = pd.DataFrame([
    ["Jim", "M", "Athelete"],
    ["Came", "F", "Tech"],
    ["Chris", "M", "Cricketor"],
    ["Moms", "M", "Actor"]
], columns=["Name", "Gender", "Profession"])
df1

    Name Gender Profession
0    Jim      M   Athelete
1   Came      F       Tech
2  Chris      M  Cricketor
3   Moms      M      Actor

In [21]:
df1.iloc[:2,:2]

   Name Gender
0   Jim      M
1  Came      F

In [22]:
df1.loc[:2,"Name":"Profession"]

    Name Gender Profession
0    Jim      M   Athelete
1   Came      F       Tech
2  Chris      M  Cricketor

In [23]:
pd.DataFrame(df1, columns=['Gender', 'Name', 'Profession'])

  Gender   Name Profession
0      M    Jim   Athelete
1      F   Came       Tech
2      M  Chris  Cricketor
3      M   Moms      Actor

In [24]:
df1[['Gender', 'Profession', 'Name']]

  Gender Profession   Name
0      M   Athelete    Jim
1      F       Tech   Came
2      M  Cricketor  Chris
3      M      Actor   Moms

In [25]:
df1.loc[:, ['Gender', 'Profession', 'Name']]

  Gender Profession   Name
0      M   Athelete    Jim
1      F       Tech   Came
2      M  Cricketor  Chris
3      M      Actor   Moms

In [33]:
df.set_index?

In [ ]:
df1['Name'].is_unique

In [27]:
df1.drop?

In [36]:
for x in df1.columns:
    if df1[x].nunique()==1:
        df.drop(x, axis=1, inplace=True)
        
df1

    Name Gender Profession
0    Jim      M   Athelete
1   Came      F       Tech
2  Chris      M  Cricketor
3   Moms      M      Actor

In [45]:
str = "The king has to meet the king of other state with the queen"

pd.value_counts(str.split(" "), sort=True)

king     2
the      2
The      1
has      1
to       1
meet     1
of       1
other    1
state    1
with     1
queen    1
dtype: int64